# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore IntelliJ project directory
.idea/

# Ignore META-INF contents
META-INF/

# docker data (database directory)
**/docker/data/
